name: Delta-Incremental-Build-SFDX-Action
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:   
      - name: Checkout code
        env:
           SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
            mkdir -p ~/.ssh
            echo "$SSH_PRIVATE_KEY"
            dir 
            echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
            chmod 600 ~/.ssh/id_rsa
            ssh-keyscan github.com >> ~/.ssh/known_hosts
            git clone git@github.com:GnanasekarM-1/newapp.git
