name: Delta-Incremental-Build-SFDX-Action
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:   
      - name: Checkout code
        env:
           SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
            mkdir -p ~/.ssh
            echo "$SSH_PRIVATE_KEY"
            dir 
            echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
            chmod 400 ~/.ssh/id_rsa
            ssh-keyscan github.com >> ~/.ssh/known_hosts
            eval "$(ssh-agent -s)"
            ssh-add ~/.ssh/id_rsa
            ssh -T git@github.com
            git clone git@github.com:GnanasekarM-1/newapp.git
            git clone git@github.com:Gnanasekar-m/newapp.git
            git clone https://github.com/GnanasekarM-1/newapp.git
            git clone https://github.com/Gnanasekar-m/newapp.git

            
