name: Test

on: [ push ]

jobs:
  create_issue:
    runs-on: ubuntu-latest
 
    steps:
      - name: REST API
        run: |
          echo this is repo name ${{ github.repository }}
          echo this is username ${{ github.username }}
          echo this is token ${{ github.TOKEN }}
          #curl -L https://github.com/GnanasekarM-1/newapp.git
          curl --request POST \
          --url https://github.com/repos/${{ github.repository }} \
          --header 'authorization: Bearer ${{ secrets.TOKEN }}'
          curl -L \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.TOKEN }}"\
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/${{ github.repository }}/pulls
          ls -la
          git clone https://github.com/GnanasekarM-1/newapp.git
          cd newapp
          ls -la
          wget https://developer.salesforce.com/media/salesforce-cli/sfdx-linux-amd64.tar.xz 
          mkdir sfdx-cli 
          tar xJf sfdx-linux-amd64.tar.xz -C sfdx-cli --strip-components 1 
          ./sfdx-cli/install
          sfdx --version
          
          
          
          
          
