name: Success

on: [ push ]

jobs:
  Successful-CI:
    runs-on: ubuntu-latest
 
    steps:
      - name: Success REST API
        run: |
          echo this is repo name ${{ github.repository }}
          echo this is username ${{ github.username }}
          echo this is token ${{ github.TOKEN }}
          #curl -L https://github.com/GnanasekarM-1/newapp.git
          curl --request POST \
          --url https://github.com/repos/${{ github.repository }} \
          --header 'authorization: Bearer ${{ secrets.TOKEN }}'
          ls -la
          git clone https://github.com/GnanasekarM-1/newapp.git
          cd newapp
          ls -la
          wget https://developer.salesforce.com/media/salesforce-cli/sfdx-linux-amd64.tar.xz 
          mkdir sfdx-cli 
          tar xJf sfdx-linux-amd64.tar.xz -C sfdx-cli --strip-components 1 
          ./sfdx-cli/install
          sfdx --version
          
          
          
          
          
