name: Test

on: [ push ]

jobs:
  create_issue:
    runs-on: ubuntu-latest
 
    steps:
      - name: Create issue using REST API
        run: |
          echo this is repo name ${{ github.repository }}
          echo this is username ${{ github.username }}
          echo this is token ${{ github.TOKEN }}
          #curl -L https://github.com/GnanasekarM-1/newapp.git
           curl --request POST \
          --url https://api.github.com/repos/${{ github.repository }} \
          --header 'authorization: Bearer ${{ secrets.SSH_PRIVATE_KEY }}'
          curl --request POST \
          --url https://github.com/repos/${{ github.repository }} \
          --header 'authorization: Bearer ${{ secrets.TOKEN }}'
          ls -la
          git clone https://github.com/GnanasekarM-1/newapp.git
          cd newapp
          ls -la
          wget https://developer.salesforce.com/media/salesforce-cli/sfdx/channels/stable/sfdx-linux-x64.tar.xz
          mkdir ~/sfdx
          tar xJf sfdx-linux-x64.tar.xz -C ~/sfdx --strip-components 1
          cd sfdx-linux-x64
          sfdx --version
          
          
          
          
          
