name: Delta-Incremental-Build-SFDX-Action
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:   
      - name: Checkout code
        env:
           SSH_PRIVATE_KEY: ${{ secrets.SSH }}
        run: |
            mkdir -p ~/.ssh
            echo "$SSH_PRIVATE_KEY"
            echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
            chmod 600 ~/.ssh/id_rsa
            ssh-keyscan github.com >> ~/.ssh/known_hosts
            git clone git@github.com:Gnanasekar-m/newapp.git
      - name: 'Auth-SFDX-authurl'
        run: |
              ls -la
              wget -qO- https://developer.salesforce.com/media/salesforce-cli/sfdx-linux-amd64.tar.xz | tar xJf -
              ./sfdx-linux-amd64/install
              sfdx force:auth:sfdxurl:store -f ./authurl -s -a DEVHUB 
