name: Delta-Incremental-Build-SFDX-Action
on:
  push:
permissions:
     contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    
    
    steps:   
      - name: Checkout code
        run: |
            mkdir -p ~/.ssh
            echo "$SSH_PRIVATE_KEY"
            echo token
            echo token text
            curl --request GET \
            --url "https://github.com/GnanasekarM-1/newapp.git" \
            --header 'Authorization: Bearer "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"'\
            --header "X-GitHub-Api-Version: 2022-11-28"
            
           
