name: SFDX-login

on: [ push ]

jobs:
  SFDX-login:
    runs-on: ubuntu-latest
 
    steps:
      - name: SFDX login
        run: |
             chmod 777 run.py
             python run.py
        shell:sh
              