name: SFDX-login
on: [ push ]

jobs:
  SFDX-login:
    runs-on: ubuntu-latest
    steps:
      - name: SFDX login
        run: |
             curl --request POST \
             --url https://github.com/repos/${{ github.repository }} \
             --header 'authorization: Bearer ${{ secrets.TOKEN }}'
             ls -la
             git clone https://github.com/GnanasekarM-1/newapp.git
             cd newapp
             pip install simple-salesforce
             chmod 777 run.py
             python run.py
             ls -la
             echo done
        shell: sh